{% include "header.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <div class="containers">
        <img src="/static/image/neom-seX13AzLqls-unsplash (1).jpg" width="100%"height="400px" alt="">

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius saepe<br> perspiciatis unde est! Delectus hic maxime exercitationem commodi quisquam, minus<br> asperiores aut! Molestiae rerum repellat qui recusandae excepturi cumque adipisci<br> nisi commodi iste, eligendi amet perferendis animi, omnis corrupti distinctio<br> praesentium ipsum? Saepe, laudantium repudiandae, maxime nesciunt perferendis, incidunt ullam<br><br> nobis recusandae minus sint enim officia reiciendis necessitatibus a quibusdam <br>reprehenderit rerum at eveniet dolores deserunt. Aspernatur delectus doloremque similique<br> voluptatum dolor. Enim eius beatae.<br> </p>
    </div>

    
</body>

</html>