<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		.footer-distributed .footer-icons {
			margin-top: 25px;
		}
.footer{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}
.nav{
	width: 33%;
}
p{
	text-align: center;
}
.mainfooter{
	background-color: rgb(6, 6, 57);
	color: white;
}	
.nav h2{
	color: white;
}
.p h2{
	color: white;
}		
	</style>
</head>

<body>
	<div class="mainfooter">
<div class="footer">
	<div class="nav">
		<h2>Navigation</h2>
		<li>Home</li>
		<li>About Us</li>
		<li>Faq</li>
		<li>Conatct Us</li>
		
	</div>
	<div class="nav">
		<h2 style="padding-left: 230px;">Products</h2>
		<li>Instant Personal Loans</li>
		<li>Instant Short Terms Loans</li>
		<li>Instant Wedding Loans</li>
		<li>Instant Cars Loans</li>

	</div>
	<div class="nav">
		<h2 style="padding-left: 190px;">Contact Us</h2>
		<p>First Floor Plot No:-17,Pocket-B, Block-C,Sector-17,<br>
		Dwarka New Delhi-110075<br>
	8845446464<br>
infmkzkkxknkxnkxk</p>
	</div>
</div>

<hr>
<div class="p">
<p>A unit of muney sutra loan ltd</p>
<h2 style="text-align: center;">GRIEVANCE REDRESSAL CELL</h2>
<p style="text-align: center;">we strictly adhere to the RBI directives and have an efficient grievance redressal team to look into and resolve all types of grievance.<br>
we always strive for responsible lending, we only offer loans that we know will be easy for you to repay, and we charge ethical fees.<br>
we never belive in high pressure or forced recovery methods of any kind.<br>
But if you have a complaint, we take it seriously and solve the problem within 5-7 working days.<br>
Call us at : 9079584859<br>
 Email us at : Moneysutra@loan.complaint
</p>


</div>
			

	</div>
</body>

</html>